/* Here you can switch between the dark and the light theme. Don't use both, coz
 * it ain't gonna work. */

/* Dark theme */
@import "ui/theme-dark.css"; /**/
/* Light theme */
/*@import "ui/theme-light.css"; /**/

/* Symbolic tab icons */
/*@import "ui/symbolic-tab-icons.css"; /**/
