/* about:newtab */

@-moz-document url("about:newtab"), url("about:home") {
    body {
        --newtab-background-color: var(--gnome-window-background) !important;
        --newtab-background-color-secondary: var(--gnome-menu-background) !important;
        --newtab-primary-action-background: var(--gnome-accent) !important;
    }
}
