/* about:privatebrowsing */

@-moz-document url("about:privatebrowsing") {
    html.private {
        --background-color-canvas: var(--gnome-private-in-content-page-background) !important;
        /* Used by headings in promo boxes Firefox shows (like an ad for Firefox Focus) */
        --text-color: var(--gnome-private-text-primary-color) !important;
        
        background: var(--background-color-canvas) !important;
    }

    .wordmark {
        fill: var(--gnome-private-wordmark) !important;
    }
    
    .showPrivate {
        color: var(--gnome-private-text-primary-color);
    }

    .info-border {
        background: var(--gnome-card-background) !important;
        box-shadow: var(--gnome-card-shadow) !important;
        padding: 0 !important;

        .info {
            background: none !important;
            box-shadow: none !important;
        }
    }
}
