@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {	
	:root {
		/* Colors */
		--gnome-standalone-color-oklab: max(l, 0.85) a b;
		--gnome-destructive-bg: var(--gnome-palette-red-4);
		--gnome-success-bg: var(--gnome-palette-green-5);
		--gnome-warning-bg: #cd9309;
		--gnome-error-bg: var(--gnome-palette-red-4);

		--gnome-toolbar-star-button: var(--gnome-palette-yellow-1);

		/* Window */
		--gnome-window-background: #242424;
		--gnome-window-color: white;
		--gnome-view-background: #1e1e1e;
		--gnome-sidebar-background: #303030;
		--gnome-secondary-sidebar-background: #2a2a2a;

		/* Card */
		--gnome-card-background: rgba(255, 255, 255, 0.08);
		--gnome-card-shade-color: color-mix(in srgb, black 36%, transparent);

		/* Menu */
		--gnome-menu-background: #383838;

		/* Header bar */
		--gnome-headerbar-background: #303030;
		--gnome-headerbar-shade-color: rgba(0, 0, 0, 0.9);

		/* Toolbars */
		--gnome-toolbar-icon-fill: #eeeeec;

		/* Tabs */
		--gnome-tabbar-tab-hover-background: #3f3f3f; /* Hardcoded color */
		--gnome-tabbar-tab-active-background: #444444; /* Hardcoded color */
		--gnome-tabbar-tab-active-background-contrast: #4F4F4F; /* Hardcoded color */
		--gnome-tabbar-tab-active-hover-background: #4b4b4b; /* Hardcoded color */
		
		--gnome-tabbar-identity-color-green: var(--gnome-palette-green-1);
		--gnome-tabbar-identity-color-yellow: var(--gnome-palette-yellow-2);
		--gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-3);
		--gnome-tabbar-identity-color-red: var(--gnome-palette-red-1);
		--gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-1);
		
		/* Miscellaneous */
		--gnome-shade-color: rgba(0, 0, 0, 0.25);
		
		/* Text color for Firefox Logo in new private tab */
		--gnome-private-wordmark: #FBFBFE;
		/* New private tab background */
		--gnome-private-in-content-page-background: #242424;
		/* Private browsing info box */
		--gnome-private-text-primary-color: #FBFBFE;
		
		/* Backdrop colors */
		&:-moz-window-inactive {
			--gnome-tabbar-tab-hover-background: #2c2c2c; /* Hardcoded color */
			--gnome-tabbar-tab-active-background: #2e2e2e; /* Hardcoded color */
		}
		
		/* Private browsing colors */
		&[privatebrowsingmode="temporary"] {
			/* Headerbar */
			--gnome-headerbar-background: var(--gnome-accent-bg) !important;
			/* Tabs */	
			--gnome-tabbar-tab-hover-background: #6C438C; /* Hardcoded color */
			--gnome-tabbar-tab-active-background: #70498F; /* Hardcoded color */
			--gnome-tabbar-tab-active-background-contrast: #86689e; /* Hardcoded color */
			--gnome-tabbar-tab-active-hover-background: #754F93; /* Hardcoded color */
			
			/* Private and backdrop colors */
			&:-moz-window-inactive {
				--gnome-tabbar-tab-hover-background: #673C87; /* Hardcoded color */
				--gnome-tabbar-tab-active-background: #683F89; /* Hardcoded color */
			}
		}
	}
}
