@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #353535;

		/* Toolbars */
		--gnome-toolbar-background: #282828;	
		--gnome-toolbar-color: #ffffff;
		--gnome-toolbar-border-color: #272727;
		--gnome-toolbar-icon-fill: #eeeeec;
		--gnome-inactive-toolbar-color: #919190;
		--gnome-inactive-toolbar-background: #353535;	
		--gnome-inactive-toolbar-border-color: #434343;
		--gnome-inactive-toolbar-icon-fill: #434343;

		/* Sidebar */
		--gnome-sidebar-background: #313131;
		--gnome-inactive-sidebar-background: #323232;

		/* Popups */
		--gnome-menu-background: #303030;
		--gnome-menu-border-color: #272727;
		--gnome-popover-background: #303030;
		--gnome-popover-border-color: #272727;
		--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--gnome-popover-button-hover-background: #424242;
		--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--gnome-headerbar-background: #363636;
		--gnome-headerbar-border-color: #272727;
		--gnome-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--gnome-inactive-headerbar-background: linear-gradient(#353535, #353535);
		--gnome-inactive-headerbar-border-color: #202020;
		--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */	
		--gnome-button-background: #404040;
		--gnome-button-border-color: #272727;
		--gnome-button-border-accent-color: #070707;	
		--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-button-hover-background: #434343;	
		--gnome-button-active-background: #404040;
		--gnome-button-active-border-color: #272727;
		--gnome-button-active-border-accent-color: #000000;
		--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-disabled-background: #363636;
		--gnome-button-disabled-border-color: #202020;
		--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-inactive-button-background: #363636;
		--gnome-inactive-button-border-color: #434343;
		--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-suggested-action-background: linear-gradient(to top, #155099 2px, #864780);
		--gnome-button-suggested-action-border-color: #0f3b71;
		--gnome-button-suggested-action-border-accent-color: #092444;
		--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-suggested-action-hover-background: linear-gradient(to top, #155099, #1655a2 1px);
		--gnome-button-suggested-action-active-background: #103e75;
		--gnome-button-suggested-action-active-border-color: #0f3b71;
		--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
		--gnome-button-destructive-action-border-color: #851015;
		--gnome-button-destructive-action-border-accent-color: #570b0e;
		--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
		--gnome-button-destructive-action-active-background: #8a1116;
		--gnome-button-destructive-action-active-border-color: #851015;
		--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* Entries */
		--gnome-entry-background: #404040;
		--gnome-entry-border-color: #272727;
		--gnome-entry-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--gnome-entry-color: #ffffff;
		--gnome-inactive-entry-background: #363636;
		--gnome-inactive-entry-border-color: #434343;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #d6d6d6;
		--gnome-focused-urlbar-border-color: #48b9c7;

		/* Switch */
		--gnome-switch-background: #282828;
		--gnome-switch-border-color: #272727;
		--gnome-switch-slider-background: linear-gradient(to bottom, #3c3c3c 20%, #353535 90%);
		--gnome-switch-slider-border-color: #111111;
		--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-switch-active-background: #864780;
		--gnome-switch-active-border-color: #030c17;
		--gnome-switch-active-slider-border-color: #030c17;

		/* Tabs */
		--gnome-tabbar-tab-color: #ffffff;
		--gnome-tabbar-tab-background: #303030;
		--gnome-tabbar-tab-border-color: #303030;
		--gnome-tabbar-tab-hover-background: #303030;
		--gnome-tabbar-tab-hover-border-bottom-color: #272727;
		--gnome-tabbar-tab-hover-color: rgb(200, 200, 200);
		--gnome-tabbar-tab-active-background: #303030;
		--gnome-tabbar-tab-active-background-contrast: #4c4c4c;
		--gnome-tabbar-tab-active-border-bottom-color: #fbb86c;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #fbb86c;
		--gnome-tabbar-tab-active-color: #ffffff;
		--gnome-tabbar-tab-active-hover-background: #313131;
		--gnome-inactive-tabbar-tab-color: rgb(141, 144, 145);
		--gnome-inactive-tabbar-tab-background: #303030;
		--gnome-inactive-tabbar-tab-border-color: #272727;
		--gnome-inactive-tabbar-tab-active-background: #303030;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: #fbb86c;
		--gnome-inactive-tabbar-tab-active-color: rgb(141, 144, 145);  
	}
	
	/* Private window colors */
	:root {
		/* Header bar */
		--gnome-private-headerbar-background: linear-gradient(to top, rgb(81, 44, 109), rgb(86, 47, 116));
		--gnome-private-headerbar-border-color: rgb(49, 27, 66);
		--gnome-private-headerbar-box-shadow: 0 1px rgba(255, 255, 255, .07) inset;
		--gnome-private-inactive-headerbar-background: #613583;
		--gnome-private-inactive-headerbar-border-color: rgb(77, 41, 102);
		--gnome-private-inactive-headerbar-box-shadow: var(--gnome-private-headerbar-box-shadow);

		/* Buttons */	
		--gnome-private-button-background: linear-gradient(to top, rgb(94, 52, 127) 2px, rgb(97, 53, 131));
		--gnome-private-button-border-color: rgb(70, 38, 95);
		--gnome-private-button-border-accent-color: rgb(49, 27, 66);
		--gnome-private-button-box-shadow: 0 1px rgba(255, 255, 255, .02) inset, 0 1px 2px rgba(0, 0, 0, .07);
		--gnome-private-button-hover-background: linear-gradient(to top, rgb(94, 52, 127), rgb(100, 54, 135) 1px);
		--gnome-private-button-active-background: rgb(73, 40, 98);
		--gnome-private-button-active-border-color: rgb(62, 34, 84);
		--gnome-private-button-active-border-accent-color: rgb(49, 27, 66);
		--gnome-private-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;	
		--gnome-private-button-disabled-background: #613583;
		--gnome-private-button-disabled-border-color: rgb(74, 41, 102);
		--gnome-private-button-disabled-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;
		--gnome-private-inactive-button-background: #613583;
		--gnome-private-inactive-button-border-color: rgb(74, 41, 102);
		--gnome-private-inactive-button-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;

		/* Entries */
		--gnome-private-entry-border-color: #202020;
		--gnome-private-focused-urlbar-border-color: rgb(158, 70, 224);
		
		/* Tabs */
		--gnome-private-tabbar-tab-active-border-bottom-color: rgb(158, 70, 224);
	}
}
