@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #F8F7F7;
	
	/* Accent */
	--gnome-accent: #83ADE1;

	/* Toolbars */
	--gnome-toolbar-background: #F8F7F7;
	--gnome-toolbar-color: rgb(46, 52, 54);
	--gnome-toolbar-border-color: #D5D5D5;
	--gnome-toolbar-icon-fill: #2e3436;
	--gnome-inactive-toolbar-background: #f6f5f4;
	--gnome-inactive-toolbar-color: #d5d0cc;
	--gnome-inactive-toolbar-border-color: #d5d0cc;
	--gnome-inactive-toolbar-icon-fill: #929595;

	/* Sidebar */
	--gnome-sidebar-background: #FAFAFA;
	--gnome-inactive-sidebar-background: var(--gnome-sidebar-background);

	/* Popups */
	--gnome-menu-background: #ffffff;
	--gnome-menu-border-color: #cdc7c2;
	--gnome-popover-background: #ffffff;
	--gnome-popover-border-color: #cdc7c2;
	--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: #ebebeb;
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: #EBEBEB;
	--gnome-headerbar-border-color: #D5D5D5;
	--gnome-headerbar-box-shadow: none;
	--gnome-inactive-headerbar-background: #FAFAFA;
	--gnome-inactive-headerbar-border-color: #DCDCDC;
	--gnome-inactive-headerbar-box-shadow: 0 1px #fff inset;

	/* Buttons */
	--gnome-button-background: #EBEBEB;
	--gnome-button-border-color: none;
	--gnome-button-border-accent-color: none;
	--gnome-button-box-shadow: none;
	--gnome-button-hover-background: #DEDEDE;
	--gnome-button-active-background: #CDCDCD;
	--gnome-button-active-border-color: none;
	--gnome-button-active-border-accent-color: #bab3ab;
	--gnome-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0);
	--gnome-button-disabled-background: var(--gnome-button-background);
	--gnome-button-disabled-border-color: #cdc7c2;
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-inactive-button-background: #FAFAFA;
	--gnome-inactive-button-border-color: none;
	--gnome-inactive-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #2379e2 2px, #3584e4);
	--gnome-button-suggested-action-border-color: none;
	--gnome-button-suggested-action-border-accent-color: #15539e;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #3584e4, #3987e5 1px);
	--gnome-button-suggested-action-active-background: #1961b9;
	--gnome-button-suggested-action-active-border-color: #1b6acb;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-button-destructive-action-background: var(--gnome-button-background);
	--gnome-button-destructive-action-border-color: #E5E2E1;
	--gnome-button-destructive-action-border-accent-color: #851015;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: #E4E2E0;
	--gnome-button-destructive-action-active-border-color: none;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	/* Entries */
	--gnome-entry-background: #D9D9D9;
	--gnome-entry-border-color: none;
	--gnome-entry-box-shadow: none;
	--gnome-entry-color: #303030;
	--gnome-inactive-entry-background: #F0F0F0;
	--gnome-inactive-entry-border-color: none;
	--gnome-inactive-entry-box-shadow: none;
	--gnome-inactive-entry-color: #303030;
	--gnome-focused-urlbar-border-color: var(--gnome-accent);
	--gnome-focused-urlbar-item-hover: var(--gnome-toolbar-background);

	/* Switch */
	--gnome-switch-background: #e1dedb;
	--gnome-switch-border-color: #cdc7c2;
	--gnome-switch-slider-background: linear-gradient(to bottom, white 10%, white 90%);
	--gnome-switch-slider-border-color: #bfb8b1;
	--gnome-switch-slider-box-shadow: inset 0 1px white, 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-active-background: var(--gnome-accent);
	--gnome-switch-active-border-color: #185fb4;
	--gnome-switch-active-slider-border-color: #185fb4;

	/* Tabs */
	--gnome-tabbar-tab-color: #303030;
	--gnome-tabbar-tab-background: #E1E1E1;
	--gnome-tabbar-tab-border-color: #CECECE;
	--gnome-tabbar-tab-hover-background: #DCDCDC;
	--gnome-tabbar-tab-hover-color: #303030;
	--gnome-tabbar-tab-active-background: #EBEBEB;
	--gnome-tabbar-tab-active-background-contrast: #FAFAFA;
	--gnome-tabbar-tab-active-color: #303030;
	--gnome-tabbar-tab-active-hover-background: #E5E5E5;
	--gnome-inactive-tabbar-tab-color: #303030;
	--gnome-inactive-tabbar-tab-background: #EFEFEF;
	--gnome-inactive-tabbar-tab-active-background: #FAFAFA;
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tabbar-close-hover: #D9D9D9;
}

/* Private window colors */
:root {
	--gnome-private-accent: rgb(132, 77, 179);
	
	/* Header bar */
	--gnome-private-headerbar-background: linear-gradient(to top, rgb(206, 191, 219), rgb(214, 201, 255));
	--gnome-private-headerbar-border-color: rgb(176, 152, 197);
	--gnome-private-headerbar-box-shadow: 0 1px rgba(255, 255, 255, .8) inset;
	--gnome-private-inactive-headerbar-background: #ECE6F1;
	--gnome-private-inactive-headerbar-border-color: rgb(200, 183, 215);
	--gnome-private-inactive-headerbar-box-shadow: var(--gnome-private-headerbar-box-shadow);

	/* Buttons */
	--gnome-private-button-background: linear-gradient(to top, rgb(226, 217, 234) 2px, rgb(236, 230, 241));
	--gnome-private-button-border-color: rgb(191, 171, 208);
	--gnome-private-button-border-accent-color: rgb(179, 152, 197);
	--gnome-private-button-box-shadow: 0 1px rgba(255, 255, 255, .8) inset, 0 1px 2px rgba(0, 0, 0, .07);
	--gnome-private-button-hover-background: linear-gradient(to top, rgb(236, 230, 241), rgb(238, 233, 243) 1px);
	--gnome-private-button-active-background: rgb(194, 174, 210);
	--gnome-private-button-active-border-color: rgb(184, 161, 203);
	--gnome-private-button-active-border-accent-color: rgb(171, 145, 194);
	--gnome-private-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	--gnome-private-button-disabled-background: #ECE6F1;
	--gnome-private-button-disabled-border-color: rgb(200, 183, 215);
	--gnome-private-button-disabled-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;
	--gnome-private-inactive-button-background: #ECE6F1;
	--gnome-private-inactive-button-border-color: rgb(200, 183, 215);
	--gnome-private-inactive-button-box-shadow:  0 1px rgba(255, 255, 255, 0) inset;

	/* Entries */
	--gnome-private-entry-border-color: rgb(191, 171, 208);
}

