@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {	
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #d6d6d6;

	/* Toolbars */
	--gnome-toolbar-background: #e0ddda;	
	--gnome-toolbar-color: rgb(46, 52, 54);
	--gnome-toolbar-border-color: #b6b6b3;
	--gnome-inactive-toolbar-background: #f6f5f4;	
	--gnome-inactive-toolbar-border-color: #c0c0bd;

	/* Sidebar */
	--gnome-sidebar-background: #fbfafa;
	--gnome-inactive-sidebar-background: #f9f9f8;

	/* Popups */
	--gnome-menu-background: #ffffff;
	--gnome-menu-border-color: #cdc7c2;
	--gnome-popover-background: #f6f5f4;
	--gnome-popover-border-color: #cdc7c2;
	--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: #ffffff;
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: linear-gradient(to top, /*#dad6d2,*/ #cdc9c3, #ddd9d5 2px, #e0ddda);
	--gnome-headerbar-border-color: #bdb7b0;
	--gnome-headerbar-box-shadow: 0 -1px rgb(217, 217, 217) inset, 0 1px #fff inset;
	--gnome-inactive-headerbar-background: linear-gradient(#f6f5f4, #f6f5f4);
	--gnome-inactive-headerbar-border-color: #c0c0bd;
	--gnome-inactive-headerbar-box-shadow: 0 1px #fff inset;

	/* Buttons */
	--gnome-button-background: linear-gradient(to top, #edebe9 2px, #f6f5f4);
	--gnome-button-border-color: #cdc7c2;
	--gnome-button-border-accent-color: #bfb8b1;
	--gnome-button-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-hover-background: linear-gradient(to top, #f6f5f4, #f8f8f7 1px);
	--gnome-button-active-background: linear-gradient(#cfcac4, #cfcac4);
	--gnome-button-active-border-color: #c6bfb9;
	--gnome-button-active-border-accent-color: #bab3ab;
	--gnome-button-active-box-shadow: 0 1px rgba(255, 255, 255, 0) inset;
	--gnome-button-disabled-background: #faf9f8;
	--gnome-button-disabled-border-color: #cdc7c2;
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--gnome-inactive-button-background: linear-gradient(#f6f5f4, #f6f5f4);
	--gnome-inactive-button-border-color: #c0c0bd;
	--gnome-inactive-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #2379e2 2px, #3584e4);
	--gnome-button-suggested-action-border-color: #1b6acb;
	--gnome-button-suggested-action-border-accent-color: #15539e;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #3584e4, #3987e5 1px);
	--gnome-button-suggested-action-active-background: #1961b9;
	--gnome-button-suggested-action-active-border-color: #1b6acb;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
	--gnome-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
	--gnome-button-destructive-action-border-color: #b2161d;
	--gnome-button-destructive-action-border-accent-color: #851015;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: #a0131a;
	--gnome-button-destructive-action-active-border-color: #b2161d;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	/* URL bar */
	--gnome-urlbar-background: linear-gradient(#fff, #fff);
	--gnome-urlbar-border-color: #b6b6b3;
	--gnome-urlbar-box-shadow: none;
	--gnome-urlbar-color: #020202;
	--gnome-inactive-urlbar-background: linear-gradient(#fcfcfc, #fcfcfc);
	--gnome-inactive-urlbar-border-color: #c0c0bd;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #323232;
	--gnome-focused-urlbar-border-color: #4a90d9;
	--gnome-private-urlbar-background: #e6c2ff;

	/* Tabs */
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-tabbar-tab-hover-background: #e4e2de;
	--gnome-tabbar-tab-hover-border-bottom-color: #b6b6b3;
	--gnome-tabbar-tab-hover-color: rgb(93, 98, 99);
	--gnome-tabbar-tab-active-background: #eae8e6;
	--gnome-tabbar-tab-active-border-bottom-color: #4a90d9;
	--gnome-tabbar-tab-active-color: rgb(46, 52, 54);
	--gnome-tabbar-tab-active-hover-background: #e6e6e6;
	--gnome-inactive-tabbar-tab-color: #8b8e8f;
	--gnome-inactive-tabbar-tab-active-background: #f6f5f4;
	--gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
}

