@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #363636;

		/* Toolbars */
		--gnome-toolbar-background: #282828;	
		--gnome-toolbar-color: #ffffff;
		--gnome-toolbar-border-color: #1b1b1b;
		--gnome-inactive-toolbar-background: #363636;	
		--gnome-inactive-toolbar-border-color: #434343;

		/* Sidebar */
		--gnome-sidebar-background: #313131;
		--gnome-inactive-sidebar-background: #292929;

		/* Popups */
		--gnome-menu-background: #2f2f2f;
		--gnome-menu-border-color: #1b1b1b;
		--gnome-popover-background: #363636;
		--gnome-popover-border-color: #1b1b1b;
		--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		--gnome-popover-button-hover-background: #424242;
		--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

		/* Header bar */
		--gnome-headerbar-background: #363636;
		--gnome-headerbar-border-color: rgba(7, 7, 7, 0);
		--gnome-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
		--gnome-inactive-headerbar-background: #363636;
		--gnome-inactive-headerbar-border-color: rgba(7, 7, 7, 0);
		--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

		/* Buttons */	
		--gnome-button-background: #404040;
		--gnome-button-border-color: #1b1b1b;
		--gnome-button-border-accent-color: #070707;	
		--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-button-hover-background: linear-gradient(to top, #292929, #373737 1px);	
		--gnome-button-active-background: linear-gradient(#1e1e1e, #1e1e1e);
		--gnome-button-active-border-color: #1b1b1b;
		--gnome-button-active-border-accent-color: #000000;
		--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-disabled-background: #292929;
		--gnome-button-disabled-border-color: #434343;
		--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-inactive-button-background: #363636;
		--gnome-inactive-button-border-color: #434343;
		--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
		--gnome-button-suggested-action-background: #363636;
		--gnome-button-suggested-action-border-color: #070707;
		--gnome-button-suggested-action-border-accent-color: #070707;
		--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-suggested-action-hover-background: #383838;
		--gnome-button-suggested-action-active-background: #363636;
		--gnome-button-suggested-action-active-border-color: #070707;
		--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
		--gnome-button-destructive-action-background: linear-gradient(to top, #ae151c 2px, #b2161d);
		--gnome-button-destructive-action-border-color: #851015;
		--gnome-button-destructive-action-border-accent-color: #570b0e;
		--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
		--gnome-button-destructive-action-hover-background: linear-gradient(to top, #ae151c, #b7161d 1px);
		--gnome-button-destructive-action-active-background: #8a1116;
		--gnome-button-destructive-action-active-border-color: #851015;
		--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

		/* Entries */
		--gnome-entry-background: linear-gradient(#272727, #272727);
		--gnome-entry-border-color: #1b1b1b;
		--gnome-entry-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
		--gnome-entry-color: #ffffff;
		--gnome-inactive-entry-background: linear-gradient(#303030, #303030);
		--gnome-inactive-entry-border-color: #434343;
		--gnome-inactive-entry-box-shadow: none;
		--gnome-inactive-entry-color: #d6d6d6;
		--gnome-focused-urlbar-border-color: #fbb86c;
		--gnome-private-urlbar-background: #25003e;

		/* Switch */
		--gnome-switch-background: #282828;
		--gnome-switch-border-color: #1b1b1b;
		--gnome-switch-slider-background: linear-gradient(to bottom, #3c3c3c 20%, #363636 90%);
		--gnome-switch-slider-border-color: #111111;
		--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
		--gnome-switch-active-background: #fbb86c;
		--gnome-switch-active-border-color: #030c17;
		--gnome-switch-active-slider-border-color: #030c17;

		/* Tabs */
		--gnome-tabbar-tab-color: #cccccc;
		--gnome-tabbar-tab-hover-background: #2b2b2b;
		--gnome-tabbar-tab-hover-border-bottom-color: #1b1b1b;
		--gnome-tabbar-tab-hover-color: rgb(200, 200, 200);
		--gnome-tabbar-tab-active-background: #2d2d2d;
		--gnome-tabbar-tab-active-background-contrast: #4c4c4c;
		--gnome-tabbar-tab-active-border-bottom-color: #fbb86c;
		--gnome-tabbar-tab-active-border-bottom-color-contrast: #fbb86c;
		--gnome-tabbar-tab-active-color: #ffffff;
		--gnome-tabbar-tab-active-hover-background: #313131;
		--gnome-inactive-tabbar-tab-color: #7e7e7e;
		--gnome-inactive-tabbar-tab-active-background: #383838;
		--gnome-inactive-tabbar-tab-active-border-bottom-color: #fbb86c;
		--gnome-inactive-tabbar-tab-active-color: #cccccc;  
	}
}
