@import "about.css";
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* keep this selector the same as the next one */
*|*:root:not(#ublock0-epicker) {
	/* Variables that start with --gnome- are added by me and are assigned
	 * to elements somewhere in this code. The rest of the variables are
	 * built-in in Firefox, so you need to add an !important if you wanna
	 * override them. */

	--gnome-privatebrowsing-page-bgcolor: #111;

	--in-content-page-color: #ccc !important;
	--in-content-page-background: #2e3436 !important;
	--in-content-text-color: #ccc !important;
	--in-content-selected-text: #fff;
	--in-content-box-background: #232729 !important;
	--in-content-box-background-odd: #292e30 !important;
	--in-content-box-background-hover: #232729 !important;
	--in-content-box-background-active: #171a1b !important;
	--in-content-box-border-color: #1e2123 !important;
	--in-content-item-hover: rgba(0, 149, 221, .25);
	--in-content-item-selected: #0a84ff;
	--in-content-border-highlight: #0a84ff;
	--in-content-border-focus: #0a84ff;
	--in-content-border-color: #1e2123 !important;
	--in-content-category-border-focus: 1px dotted #0a84ff;
	--in-content-category-text: #ccc !important;
	--in-content-category-text-active: #eee !important;
	--in-content-category-text-selected: #2981dc !important;
	--in-content-category-text-selected-active: #0060df;
	--in-content-category-background-hover: rgba(12, 12, 13, .1);
	--in-content-category-background-active: rgba(12, 12, 13, .15);
	--in-content-category-background-selected-hover: rgba(12, 12, 13, .15);
	--in-content-category-background-selected-active: rgba(12, 12, 13, .2);
	--in-content-tab-color: #ccc !important;
	--in-content-link-color: #0a8dff;
	--in-content-link-color-hover: #0060df;
	--in-content-link-color-active: #003eaa;
	--in-content-link-color-visited: #0a8dff;
	--in-content-primary-button-background: #0a84ff;
	--in-content-primary-button-background-hover: #0060df;
	--in-content-primary-button-background-active: #003eaa;
	--in-content-table-border-dark-color: #1e2123 !important;
	--in-content-table-header-background: #0a84ff;

	/* Extensions' popups */
	--popup-background: -moz-field;
}

/* A workaround for the screenshot tool, issue #7 */
@-moz-document regexp("^moz-extension://.+/blank.html$") {
	/* keep this selector the same as the previous one */
	*|*:root:not(#ublock0-epicker) {
		--in-content-page-background: unset !important;
	}
}
