/* Replace icons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Popovers subview menu arrow */
.PanelUI-subView .subviewbutton-nav::after {
    content: "" !important;
	background: url("../icons/pan-start-symbolic.svg");
	background-size: contain;
	height: 16px;
	width: 16px;
	margin-top: -2px !important;
}

/* Popovers subview back button */
.subviewbutton-back {
	list-style-image: url("../icons/pan-start-symbolic.svg") !important;
}

/* Sub menu arrow */
.menu-right {
	-moz-appearance: none !important;
	list-style-image: url("../icons/pan-end-symbolic.svg") !important;
	width: 16px !important;
    height: 16px !important;
}
menu[disabled] > .menu-right {
	opacity: 0.3;
}
@media (prefers-color-scheme: light) {
	menu:not([disabled]):hover > .menu-right,
	menu[open] > .menu-right {
		filter: invert(100%) brightness(200%);
	}
}

/* Arrow down buttons */
.expander-down > .button-box,
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker {
	-moz-appearance: none !important;
    list-style-image: url("../icons/pan-down-symbolic.svg") !important;
    width: 16px !important;
    height: 16px !important;
}
.menulist-label-box:after {
	content: url("../icons/pan-down-symbolic.svg") !important;
}

/* Tree views */
treechildren::-moz-tree-twisty {
	list-style-image: url("../icons/pan-down-symbolic.svg") !important;
	width: 16px !important;
    height: 16px !important;
}
treechildren::-moz-tree-twisty(open) {
	list-style-image: url("../icons/pan-end-symbolic.svg") !important;
}
treechildren::-moz-tree-twisty(selected, focus) {
	list-style-image: url("../icons/pan-down-symbolic-light.svg") !important;
}
treechildren::-moz-tree-twisty(selected, focus, open) {
	list-style-image: url("../icons/pan-end-symbolic-light.svg") !important;
}

.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty {
	list-style-image: url("../icons/pan-down-symbolic-light.svg") !important;
}
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty(open) {
	list-style-image: url("../icons/pan-end-symbolic-light.svg") !important;
}

/* Arrow up buttons */
.expander-up > .button-box {
	-moz-appearance: none !important;
    list-style-image: url("../icons/pan-up-symbolic.svg") !important;
    width: 16px !important;
    height: 16px !important;
}

/* Search entries */
#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon,
.searchbar-search-icon,
#search-box .textbox-search-sign {
    list-style-image: url(../icons/edit-find-symbolic.svg) !important;
	opacity: 0.7 !important;
}
#search-box .textbox-search-sign {
	width: 16px !important;
	margin: 2px 0;
}

/* Private browsing button */
#privatebrowsing-button .toolbarbutton-icon {
	list-style-image: url("../icons/user-not-tracked.svg") !important;
}

/* Invert icons color in dark variant */
@media (prefers-color-scheme: dark) {
	#nav-bar #privatebrowsing-button .toolbarbutton-icon,

	.PanelUI-subView .subviewbutton-nav::after,
	.subviewbutton-back .toolbarbutton-icon,

	.menu-right,

	#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon,
	.searchbar-search-icon,
	#search-box .textbox-search-sign,

	.menulist-label-box:after,
	.expander-down image,
	.expander-up image,
	#sidebar-switcher-arrow  {
		filter: invert(100%) brightness(200%);
	}
	
	/* Tree views */
	treechildren::-moz-tree-twisty {
		list-style-image: url("../icons/pan-down-symbolic-light.svg") !important;
	}
	treechildren::-moz-tree-twisty(open) {
		list-style-image: url("../icons/pan-end-symbolic-light.svg") !important;
	}
	
	/* Fix for extensions icons */	
	.webextension-browser-action {
    	list-style-image: var(--webextension-menupanel-image-light, inherit) !important;
	}
}

/* Back button */
#nav-bar #back-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-previous-symbolic?size=dialog") !important;;
}

/* Forward button */
#nav-bar #forward-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-next-symbolic?size=dialog") !important;
}

/* Reload button */
/* Glitch - animations (may be possible to fix in about:config)
#reload-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-refresh-symbolic?size=dialog") !important;
}*/
/* Reload button */
/* Glitch - animations (may be possible to fix in about:config)
#stop-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/process-stop-symbolic?size=dialog") !important;
}*/

/* Downloads button */
/* Glitch - it swaps to the default one anyway
#downloads-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/folder-download-symbolic?size=dialog") !important;
} */

/* Downloads button */
/* Default is ok
#PanelUI-menu-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/open-menu-symbolic?size=dialog") !important;
} */