/* Dialogs */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

window {
	padding: 0 !important;
}

#window-modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Browser dialog prompts center */
.dialogOverlay[topmost="true"]:not(.dialogOverlay-window-modal-dialog-subdialog), #window-modal-dialog::backdrop {
	background-color: rgba(0, 0, 0, .5) !important;
}

/* Dialog */
.dialogBox {
	border-radius: 12px !important;
	margin-top: 0 !important;
}
.dialogBox[resizable="true"] {
	margin-top: 24px !important;
}

window[role="dialog"] {
	background: var(--gnome-menu-background) !important;
	border: 0 !important;
	box-shadow: var(--gnome-menu-shadow) !important;
	padding: 0 !important;
}
dialog {	
	padding: 0 !important;
}
dialog#handling {
	display: flex;
	flex-direction: column;
}

/* Content */
.dialog-content-box {
	padding: 24px;
	padding-bottom: 0;
}
.box-inherit[part="content-box"] {
	padding: 12px 24px 12px 24px;
}
#titleContainer {
	justify-content: center !important;
}
.titleIcon {
	background-color: transparent !important;
}

/* Buttons */
.dialog-button-box {
	background: transparent !important;
	border-top: 1px solid var(--gnome-border-color) !important;
	display: flex !important;
	margin-top: auto;
	padding: 0 !important;
}

.dialog-button-box .button-spacer {
	display: none;
}

.dialog-button-box button:not(#hack) {
	height: auto !important;
	max-height: unset !important;
	padding: 10px 14px !important;
	margin: 0 !important;
	border-radius: 0 !important;
	flex: 1;
	border-bottom: 0 !important;
}

.dialog-button-box button:not(:last-child, :only-child) {
	border-right: 1px solid var(--gnome-border-color) !important;
}

.dialog-button-box button[default] {
	color: var(--gnome-accent) !important;
}

/* Hadler dialog */
#os-default-handler image {
	display: none !important;	
}
#os-default-handler .name {
	font-weight: normal !important;
}

/* Fullscreen warning */
#fullscreen-warning {
	background: rgba(0, 0, 0, 0.7) !important;
	border-radius: 150px !important;
	border: none !important;
	color: rgba(255, 255, 255, .9) !important;
	padding: 6px 12px !important;
}

#fullscreen-warning::before {
	background-image: url("../icons/padlock-symbolic.svg") !important;
	height: 16px !important;
	width: 16px !important;
}

#fullscreen-warning .pointerlockfswarning-domain-text {
	font-size: 16px !important;
	font-weight: normal !important;
	margin: 0 12px 0 6px !important;
}

#fullscreen-exit-button {
	appearance: none !important;
	background: rgba(255, 255, 255, .09) !important;
	border-radius: 6px !important;
	border: 0 !important;
	padding: 2px 16px !important;
	height: 34px !important;
	min-height: 34px !important;
	color: rgba(255, 255, 255, .9) !important;
	font-weight: bold !important;
	transition: background .3s;
}
#fullscreen-exit-button:hover {
	background: rgba(255, 255, 255, .135) !important;
}
#fullscreen-exit-button:active {
	background: rgba(255, 255, 255, .27) !important;
}
