/* Entries */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */
#urlbar,
#searchbar,
#search-box,
.findbar-textbox {
	-moz-appearance: none !important;
	background: var(--gnome-urlbar-background) !important;
	border: 1px solid var(--gnome-urlbar-border-color) !important;
	border-radius: 5px !important;
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	color: var(--gnome-urlbar-color) !important;
	height: 34px !important;
	max-height: 34px !important;
	margin: 0 !important;
	padding: 6px 8px !important;
	box-sizing: border-box;
}

/* Entries focused */
#urlbar[focused],
#searchbar:focus-within,
#search-box[focused], 
.findbar-textbox[focused],
.findbar-textbox:focus {
	outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
	outline-offset: -2px;
	-moz-outline-radius: 5px;
}

/* Inactive window entries */
#urlbar:-moz-window-inactive,
#searchbar:-moz-window-inactive,
#search-box:-moz-window-inactive,
.findbar-textbox:-moz-window-inactive {
	background: var(--gnome-inactive-urlbar-background) !important;
	border-color: var(--gnome-inactive-urlbar-border-color) !important;
	box-shadow: var(--gnome-inactive-urlbar-box-shadow) !important;
	color: var(--gnome-inactive-urlbar-color) !important;
}

/* Entries combined */
.findbar-textbox {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}
.findbar-textbox[focused], .findbar-textbox:focus {
	-moz-outline-radius: 5px 0 0 5px !important;
}

/* Entries fixes */
#urlbar, #searchbar {
	margin: 0 3px !important;
	padding: 0 !important;
}
.searchbar-textbox {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	min-height: auto !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
  margin: 0 !important;
}