/* Entries */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */
input[type="text"]:not(.tree-input),
input[type="password"],
#urlbar,
#searchbar,
#search-box,
.findbar-textbox,
.tabsFilter,
.popup-notification-body input {
	-moz-appearance: none !important;
	background: var(--gnome-entry-background) !important;
	outline: 2px solid transparent !important;
	border: 0 !important;
	border-radius: var(--gnome-entry-radius) !important;
	box-shadow: none !important;
	color: var(--gnome-entry-color) !important;
	height: var(--gnome-entry-height) !important;
	max-height: var(--gnome-entry-height) !important;
	margin: 0 !important;
	padding: 6px !important;
	box-sizing: border-box;
	transition-property: outline, outline-offset;
	transition-duration: var(--gnome-animation-time);
	
	/* Error */
	&[status="notfound"] {
		color: var(--gnome-error) !important;
	}

	&:-moz-window-inactive {
		color: var(--gnome-inactive-entry-color) !important;
		outline: 2px solid transparent !important;    
	}
}

/* Entries focused */
input[type="text"]:not(.tree-input):focus,
input[type="password"]:focus,
#urlbar[breakout][breakout-extend],
#urlbar[focused]:not([suppress-focus-border]),
#searchbar:focus-within,
#search-box[focused], 
.findbar-textbox[focused],
.findbar-textbox:focus,
.tabsFilter[focused],
.popup-notification-body input:focus {
	outline: 2px solid var(--gnome-entry-focused-border-color) !important;
	outline-offset: -2px;

	/* Error */
	&[status="notfound"] {
		outline-color: var(--gnome-entry-error-focused-border-color) !important;
	}
}

/* Entries combined */
.findbar-textbox:not(.minimal) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}

/* Entry button */
.identity-box-button,
#tracking-protection-icon-container,
#notification-popup-box,
.urlbar-page-action,
.urlbar-icon {
	fill-opacity: 0.8 !important;
	transition-property: fil, fill-opacity, opacity;
	transition-duration: var(--gnome-animation-time);
}

.identity-box-button:hover:not([open="true"]),
#tracking-protection-icon-container:hover:not([open="true"]),
#notification-popup-box:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]) .urlbar-icon,
.urlbar-icon:not([disabled]):hover {
	background: none !important;
	fill-opacity: 1 !important;	
}

.identity-box-button:hover:active,
.identity-box-button[open=true],
#tracking-protection-icon-container:hover:active,
#tracking-protection-icon-container[open=true],
#notification-popup-box:hover:active,
#notification-popup-box[open=true],
.urlbar-page-action:hover:active,
.urlbar-page-action[open=true],
.urlbar-page-action:hover:active .urlbar-icon,
.urlbar-page-action[open=true] .urlbar-icon {
	background: none !important;
	fill-opacity: 1 !important;	
}

/* Entries fixes */
#urlbar-container, #search-container {
	padding: 0 !important;
	margin: 0 !important;
}
.urlbar-input-container {
	background: transparent !important;
	border: 0 !important;
}
#urlbar, #searchbar {
	margin: 0 calc(var(--gnome-toolbar-spacing) / 2) !important;
	padding: 0 3px !important;
}
.searchbar-textbox {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	min-height: auto !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
	margin: 0 !important;
}
#urlbar[focused]:not([suppress-focus-border]) > #urlbar-background {
	outline: 0 !important;
}
