/* Find bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

findbar {
    position: relative;	
}

.findbar-container {
	padding: 8px !important;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: row;
}

hbox[anonid="findbar-textbox-wrapper"] {
	position: absolute;
	right: calc(50vw - 36px);
	transform: translate(50%, 0);
}

.findbar-find-status, .found-matches {
	order: -1;
	padding: 6px 0;
}
.findbar-find-status {
	padding-left: 8px;
	flex: 1;
}

.findbar-textbox {
	background-image: var(--gnome-urlbar-bgimage) !important;
	border: 1px solid var(--gnome-urlbar-border-color) !important;
	border-radius: 5px 0 0 5px !important;
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	color: var(--gnome-urlbar-color) !important;
	height: 34px !important;
	box-sizing: border-box;
	margin: 0px !important;
}
.findbar-textbox:focus {
	border-width: 2px !important;
	border-style: solid !important;
	border-color: var(--gnome-focused-urlbar-border-color) !important;
	outline: none;
	outline-offset: -2px;
	-moz-outline-radius: 3px;
}

.findbar-container toolbarbutton.findbar-find-previous,
.findbar-container toolbarbutton.findbar-find-next {
	width: 34px !important;
}

.findbar-container toolbarbutton.findbar-find-previous .toolbarbutton-icon,
.findbar-container toolbarbutton.findbar-find-next .toolbarbutton-icon {
	margin: 3.5px !important;
}

.findbar-container toolbarbutton.findbar-find-previous {
	border-width: 1px 0 1px 0 !important;
	border-radius: 0px !important;
}
.findbar-container toolbarbutton.findbar-find-next {
	border-radius: 0 5px 5px 0 !important;
}

.findbar-container toolbarbutton {
	-moz-appearance: none !important;
	background: var(--gnome-headerbar-button-bgimage) !important;
	box-shadow: var(--gnome-headerbar-button-box-shadow) !important;
	border: 1px solid var(--gnome-headerbar-button-border-color) !important;
	border-bottom-color: var(--gnome-headerbar-button-border-accent-color) !important;
	border-radius: 5px !important;
	height: 34px !important;
}

.findbar-container toolbarbutton:hover, .findbar-closebutton .toolbarbutton-icon:hover {
	background: var(--gnome-headerbar-button-hover-bgimage) !important;
}

.findbar-container toolbarbutton[checked], .findbar-container toolbarbutton:active {
	background: var(--gnome-headerbar-button-active-bgimage) !important;
	box-shadow: var(--gnome-headerbar-button-active-box-shadow) !important;
	border-color: var(--gnome-headerbar-button-active-border-color) !important;
	border-bottom-color: var(--gnome-headerbar-button-active-border-color) !important;
	border-top-color: var(--gnome-headerbar-button-active-border-accent-color) !important;
}
.findbar-container toolbarbutton:focus {
	outline: 0 !important;
}

.findbar-closebutton {
	position: fixed !important;
}

