/* Header bar */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Headerbar */
#nav-bar {
	background: var(--gnome-headerbar-background) !important;
	border: 0 !important;
	padding: var(--gnome-toolbar-padding) calc(var(--gnome-toolbar-padding) / 2) !important;
}

/* Add private window headerbar indicator */
:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
	background: var(--gnome-icon-eye-not-looking-symbolic) no-repeat;
	background-size: 64px 64px;
	content: "";
	display: block;	
	position: absolute;
	width: 64px;
	height: 64px;
	top: 0;
	transform: translate(15px, -9px);
	fill: var(--gnome-window-color) !important;
	fill-opacity: 0.15 !important;
	-moz-context-properties: fill, fill-opacity;
  }

/* Hide tabsbar default private browsing indicator */
.private-browsing-indicator-with-label {
	display: none !important;
}

/* Overlay headerbar on fullscreen */
@media -moz-pref("browser.fullscreen.autohide") {
	#navigator-toolbox[inFullscreen] { 	
		position: fixed !important;
		transition: margin var(--gnome-animation-time) ease-in-out 0s !important;
		line-height: 0;
		z-index: 1;
		width: 100vw;
	}

	#navigator-toolbox[inFullscreen]:hover,
	#navigator-toolbox[inFullscreen]:focus-within {
		margin-top: 0 !important;
	}

	#navigator-toolbox[inFullscreen] > * {
		line-height: normal;
	}
}
