/* Replace icons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Icons color */
.toolbarbutton-icon,
.protections-popup-category::after,
.protections-popup-footer-icon,
.PanelUI-subView .subviewbutton-nav::after,
#identity-popup-security-expander .button-icon,
.menu-right,
.expander-down > .button-box,
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker,
.menulist-label-box:after,
.expander-up > .button-box,
#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] > #identity-icon,
.searchbar-search-icon,
.textbox-search-sign,
treechildren::-moz-tree-twisty,
#historyTree treechildren::-moz-tree-image,
menuitem[type="checkbox"],
menuitem[type="checkbox"][checked="true"],
menuitem[type="radio"],
menuitem[type="radio"][checked="true"],
.close-icon:not(.tab-close-button),
.identity-popup-permission-remove-button .button-icon,
#urlbar-search-mode-indicator-close,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	fill: var(--gnome-toolbar-icon-fill) !important;
	fill-opacity: 1 !important;
	-moz-context-properties: fill, fill-opacity;
}
.toolbarbutton-icon:-moz-window-inactive {
	fill: var(--gnome-inactive-toolbar-icon-fill) !important;
}

.protections-popup-category::after,
.PanelUI-subView .subviewbutton-nav::after {
	fill-opacity: 0.6 !important;
}

/* Icons active color */
menu:not([disabled]):hover > .menu-right,
treechildren::-moz-tree-twisty(selected, focus),
treechildren::-moz-tree-twisty(selected, focus, open),
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty,
.sidebar-panel[lwt-sidebar-brighttext] .sidebar-placesTreechildren::-moz-tree-twisty(open),
menuitem[type="checkbox"]:not([disabled="true"]):hover .menu-iconic-icon,
menuitem[type="radio"]:not([disabled="true"]):hover .menu-iconic-icon {
	fill: #fff !important;
}

/* Tabs scroll icons */
#scrollbutton-up {
	list-style-image: url("../icons/pan-start-symbolic.svg") !important;
}
#scrollbutton-down {
	list-style-image: url("../icons/pan-start-symbolic.svg") !important;
}

/* Popovers subview menu arrow */
.PanelUI-subView .subviewbutton-nav::after {
	content: "" !important;
	background: url("../icons/pan-end-symbolic.svg");
	background-size: contain;
	height: 16px;
	width: 16px;
	margin-top: -2px !important;
}
.protections-popup-category::after {
	content: url("../icons/pan-start-symbolic.svg") !important;
}
.identity-popup-content-blocking-category::after {
	content: url("../icons/pan-start-symbolic.svg") !important;
}
#identity-popup-security-expander .button-icon {
	list-style-image: url("../icons/pan-start-symbolic.svg") !important;
}

/* Popovers subview back button */
.subviewbutton-back {
	list-style-image: url("../icons/pan-start-symbolic.svg") !important;
}

/* Sub menu arrow */
.menu-right {
	-moz-appearance: none !important;
	list-style-image: url("../icons/pan-end-symbolic.svg") !important;
	width: 16px !important;
	height: 16px !important;
}
menu[disabled] > .menu-right {
	opacity: 0.3;
}

/* Arrow down buttons */
.expander-down > .button-box,
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker {
	-moz-appearance: none !important;
	list-style-image: url("../icons/pan-down-symbolic.svg") !important;
	width: 16px !important;
	height: 16px !important;
}
.menulist-label-box:after {
	content: url("../icons/pan-down-symbolic.svg") !important;
}

/* Arrow up buttons */
.expander-up > .button-box {
	-moz-appearance: none !important;
	list-style-image: url("../icons/pan-up-symbolic.svg") !important;
	width: 16px !important;
	height: 16px !important;
}

/* Search entries */
#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] > #identity-icon,
.searchbar-search-icon,
.textbox-search-sign {
	list-style-image: url(../icons/edit-find-symbolic.svg) !important;
	opacity: 0.7 !important;
}
.textbox-search-sign {
	margin: 2px 0;
	max-height: 16px !important;
	width: 16px !important;
}

/* Tree views */
treechildren::-moz-tree-twisty {
	list-style-image: url("../icons/pan-down-symbolic.svg") !important;
	width: 16px !important;
	height: 16px !important;
}
treechildren::-moz-tree-twisty(open) {
	list-style-image: url("../icons/pan-end-symbolic.svg") !important;
}

/* Sidebar: History: clock icon */
#historyTree treechildren::-moz-tree-image {
	list-style-image: url("../icons/preferences-system-time-symbolic.svg") !important;
}

/* Menu checkbox */
menuitem[type="checkbox"] {
	list-style-image: url("../icons/checkbox-symbolic.svg") !important;
}
menuitem[type="checkbox"][checked="true"] {
	list-style-image: url("../icons/checkbox-checked-symbolic.svg") !important;
}
menuitem[type="checkbox"][disabled="true"] .menu-iconic-icon {
	opacity: 0.5;
}

/* Menu radio */
menuitem[type="radio"] {
	list-style-image: url("../icons/radio-symbolic.svg") !important;
}
menuitem[type="radio"][checked="true"] {
	list-style-image: url("../icons/radio-checked-symbolic.svg") !important;
}
menuitem[type="radio"][disabled="true"] .menu-iconic-icon {
	opacity: 0.5;
}

/* Close button */
.close-icon:not(.tab-close-button),
.identity-popup-permission-remove-button .button-icon {
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
}
#urlbar-search-mode-indicator-close {
	background-image: url("../icons/window-close-symbolic.svg") !important;
}
@media (prefers-color-scheme: light) {
	.notificationbox-stack notification[type="critical"] .close-icon:not(.tab-close-button):not(:hover) {
		fill: #fff !important;
	}
}
@media (prefers-color-scheme: dark) {
	.notificationbox-stack notification[type="warning"] .close-icon:not(.tab-close-button):not(:hover) image {
		fill: rgb(46, 52, 54) !important;
	}
}

/* Window buttons */
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon {
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon {
	list-style-image: url("../icons/window-maximize-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon {
	list-style-image: url("../icons/window-restore-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon {
	list-style-image: url("../icons/window-minimize-symbolic.svg") !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	list-style-image: url("../icons/view-restore-symbolic.svg") !important;
}

/* Private browsing button */
#privatebrowsing-button {
	list-style-image: url("../icons/user-not-tracked-symbolic.svg") !important;
}
/* Sidebar button */
#sidebar-button:-moz-locale-dir(ltr):not([positionend])  .toolbarbutton-icon, #sidebar-button:-moz-locale-dir(rtl)[positionend]  .toolbarbutton-icon {
	list-style-image: url("../icons/toggle-sidebar-symbolic.svg") !important;
}
#sidebar-button .toolbarbutton-icon {
	list-style-image: url("../icons/toggle-right-sidebar-symbolic.svg");
}
/* Back button */	
#nav-bar #back-button,
#context-back { 
	list-style-image: url("../icons/go-previous-symbolic.svg") !important;
}
/* Forward button */	
#nav-bar #forward-button,
#context-forward { 
	list-style-image: url("../icons/go-next-symbolic.svg") !important;
}
/* Menu button */
#PanelUI-menu-button {
	list-style-image: url("../icons/open-menu-symbolic.svg") !important;
}
/* New tab button */
#new-tab-button,
.tabs-newtab-button {
	list-style-image: url("../icons/tab-new-symbolic.svg") !important;
}
/* Home button */
#home-button {
	list-style-image: url("../icons/user-home-symbolic.svg") !important;
}
/* Preferences button */
#preferences-button {
	list-style-image: url("../icons/preferences-system-symbolic.svg") !important;
}
/* Fullscreen button */
#fullscreen-button,
#appMenu-fullscreen-button {
	list-style-image: url("../icons/view-fullscreen-symbolic.svg") !important;
}
/* Zoom out button */
#zoom-out-button,
#appMenu-zoomReduce-button {
	list-style-image: url("../icons/zoom-out-symbolic.svg") !important;
}
/* Zoom in button */
#zoom-in-button,
#appMenu-zoomEnlarge-button {
	list-style-image: url("../icons/zoom-in-symbolic.svg") !important;
}
/* Developer button */
#developer-button {
	list-style-image: url("../icons/applications-engineering-symbolic.svg") !important;
}
/* Email link button */
#email-link-button {
	list-style-image: url("../icons/mail-unread-symbolic.svg") !important;
}
/* Print button */
#print-button {
	list-style-image: url("../icons/printer-symbolic.svg") !important;
}
/* Addons button */
#add-ons-button {
	list-style-image: url("../icons/application-x-addon-symbolic.svg") !important;
}
/* Find button */
#find-button {
	list-style-image: url("../icons/edit-find-symbolic.svg") !important;
}
/* New window button */
#new-window-button {
	list-style-image: url("../icons/window-new-symbolic.svg") !important;
}
/* Bookmarks menu button */
#bookmarks-menu-button {
	list-style-image: url("../icons/starred-symbolic.svg") !important;
}
/* History button */
#history-panelmenu {
	list-style-image: url("../icons/preferences-system-time-symbolic.svg") !important;
}
/* All tabs button */
#alltabs-button {
	list-style-image: url("../icons/pan-down-symbolic.svg") !important;
}
/* Cut button */
#cut-button,
#appMenu-cut-button {
	list-style-image: url("../icons/edit-cut-symbolic.svg") !important;
}
/* Copy button */
#copy-button,
#appMenu-copy-button {
	list-style-image: url("../icons/edit-copy-symbolic.svg") !important;
}
/* Paste button */
#paste-button,
#appMenu-paste-button {
	list-style-image: url("../icons/edit-paste-symbolic.svg") !important;
}
/* Overflow button */
#nav-bar-overflow-button {
	list-style-image: url("../icons/view-more-horizontal-symbolic.svg") !important;
}
/* Glitch - animations (may be possible to fix in about:config)
#reload-button .toolbarbutton-icon { /* Reload button
	list-style-image: url("../icons/view-refresh-symbolic.svg") !important;
}
#stop-button .toolbarbutton-icon { /* Stop button
	list-style-image: url("../icons/process-stop-symbolic.svg") !important;
}
#downloads-button { /* Downloads button / Glitch - it swaps to the default one anyway
	list-style-image: url("../icons/folder-download-symbolic.svg") !important;
}
*/

/* Fix for extensions icons */
@media (prefers-color-scheme: dark) {
	.webextension-browser-action {
		list-style-image: var(--webextension-menupanel-image-light, inherit) !important;
	}
}
