/* Popups contents syles */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Style main context menu & buttons */
#context-navigation {
	padding: 4px 8px 8px;
}
#context-navigation > menuitem > .menu-iconic-left {
	margin: auto !important;
}
#context-navigation menuitem {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
}

/* Remove icons from the main context menu */
#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
	visibility: hidden;
}
#contentAreaContextMenu menugroup menuitem image,
#contentAreaContextMenu .menu-right image {
	visibility: visible;
}

/* Main menu remove items icons */
panelview vbox.panel-subview-body > toolbarbutton image {
	display: none;
}
panelview vbox.panel-subview-body > toolbarbutton label {
	padding-inline-start: 0 !important;
}
#appMenu-zoom-controls > spacer,
#appMenu-edit-controls > spacer {
	width: 12px !important;
}

/* Main menu */
#appMenu-popup .panel-banner-item:after {
	-moz-box-ordinal-group: 0;
	margin: 0 8px 0 0 !important;
}

/* User sync account remove avatar */
#fxa-menu-avatar {
	display: none;
}

/* Add search engine button remove icon */
#pageAction-panel-addSearchEngine .toolbarbutton-badge-stack {
	display: none !important;
}

/* All tabs popover */
.all-tabs-item[selected] {
	border-left: 3px solid var(--gnome-tabbar-tab-active-border-bottom-color);
	box-shadow: none !important;
}

.all-tabs-item > .all-tabs-secondary-button label {
	margin: 0 !important;
}

/* Downloads popover */
#downloadsPanel-mainView .download-state {
	padding: 8px !important;
	border: 0 !important;
	border-radius: 5px !important;
	display: flex;
	align-items: center;
}
#downloadsPanel-mainView .download-state:hover {
	background-color: var(--gnome-popover-button-hover-background) !important;	
}
#downloadsPanel-mainView .download-state:last-child {
    margin-bottom: 8px !important;
}

#downloadsPanel-mainView .downloadMainArea {
	flex: 1;
	display: flex;
}
#downloadsPanel-mainView .downloadMainArea:hover {
	background: transparent !important;
}

#downloadsPanel-mainView .downloadTypeIcon {
	margin: 0 !important;
	margin-right: 6px !important;
}

#downloadsPanel-mainView .downloadContainer {
	margin-inline-end: 0 !important;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#downloadsPanel-mainView .download-state .downloadButton .button-box {
	padding: 0 !important;
	margin: 0 !important;
}
#downloadsPanel-mainView .download-state toolbarseparator {
	display: none;
}

/* Customization overflow menu position */
#customization-panel-container {
	padding: 0 75px 25px !important;
	margin-top: 10px;
	z-index: 10;
}
#customization-panelWrapper > .panel-arrowbox {    
	margin-bottom: -5px !important;
}

/* Confirmation Hint */
#confirmation-hint .panel-arrowcontent {
	background: var(--gnome-button-suggested-action-background) !important;
	border-color: var(--gnome-button-suggested-action-border-color) !important;
}
#confirmation-hint .panel-arrow {
	fill: var(--gnome-button-suggested-action-border-color) !important;
	stroke: var(--gnome-button-suggested-action-border-color) !important;
}
#confirmation-hint-message {
	color: white !important;
}
