/* Sidebar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#sidebar-box {
	background: var(--gnome-sidebar-background) !important;
}

#sidebar-header {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	padding: 6px !important;
}
#sidebar-search-container {
	padding: 6px !important;
}

#sidebar-box:-moz-window-inactive label, #sidebar-box:-moz-window-inactive image,
.sidebar-panel:-moz-window-inactive label, .sidebar-panel:-moz-window-inactive image,
.sidebar-placesTreechildren:-moz-window-inactive {
	opacity: 0.7 !important;
}
#sidebar-splitter {
	background: var(--gnome-toolbar-background) !important;
	border: 0 !important;
	border-right: 1px solid var(--gnome-border-color) !important;
	width: 0 !important;
}

/* New sidebar */
@media (-moz-bool-pref: "sidebar.revamp") {
    #tabbrowser-tabbox {
		--chrome-content-separator-color: var(--gnome-toolbar-border-color);
		box-shadow: none !important;
    }
	#sidebar-splitter {
		border-color: var(--gnome-toolbar-border-color) !important;
		margin: 0 !important;
	}
	
	/* First sidebar */
	#sidebar-main {
		background-color: var(--gnome-sidebar-background) !important;
		padding: 6px !important;
		--button-size-icon: 34px !important;
	}
	link[href="chrome://browser/content/sidebar/sidebar-main.css"] + .wrapper {
		.actions-list {
			gap: 3px;
		}		
	}
	
	/* Second sidebar */
	#sidebar-box {
		background-color: var(--gnome-secondary-sidebar-background) !important;
		outline: 0.01px solid var(--gnome-toolbar-border-color);
		padding: 0 !important;
	}
	#sidebar {
		background-color: var(--gnome-secondary-sidebar-background) !important;
		border: 0 !important;
		border-radius: 0 !important;;
		box-shadow: none !important;
	}
}
