/* Sidebar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#sidebar-box {
	background: var(--gnome-sidebar-background) !important;
}

#sidebar-header {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	padding: 6px !important;
}
#sidebar-search-container {
	padding: 6px !important;
}

#sidebar-box:-moz-window-inactive label, #sidebar-box:-moz-window-inactive image,
.sidebar-panel:-moz-window-inactive label, .sidebar-panel:-moz-window-inactive image,
.sidebar-placesTreechildren:-moz-window-inactive {
	opacity: 0.7 !important;
}
#sidebar-splitter {
	background: var(--gnome-toolbar-background) !important;
	border: 0 !important;
	border-right: 1px solid var(--gnome-border-color) !important;
	width: 0 !important;
}

/* New sidebar */
@media (-moz-bool-pref: "sidebar.revamp") {
    #tabbrowser-tabbox {
		--chrome-content-separator-color: var(--gnome-toolbar-border-color);
		box-shadow: none !important;
    }
	#sidebar-splitter {
		border-color: var(--gnome-toolbar-border-color) !important;
		margin: 0 !important;
	}
	
	/* First sidebar */
	#sidebar-main {
		background-color: var(--gnome-sidebar-background) !important;
		padding: 6px !important;
		--button-size-icon: 34px !important;
	}
	link[href="chrome://browser/content/sidebar/sidebar-main.css"] + .wrapper {
		.actions-list {
			gap: 3px;
		}		
	}
	
	/* Second sidebar */
	#sidebar-box {
		background-color: var(--gnome-secondary-sidebar-background) !important;
		outline: 0.01px solid var(--gnome-toolbar-border-color);
		padding: 0 !important;
	}
	#sidebar {
		background-color: var(--gnome-secondary-sidebar-background) !important;
		border: 0 !important;
		border-radius: 0 !important;;
		box-shadow: none !important;
	}	

	/* Settings lists */
	/* TODO: Move to lists.css when revamp is released */
	.customize-group .extensions,
	link[href="chrome://global/content/elements/moz-fieldset.css"] ~ fieldset #inputs {
		background: var(--gnome-card-background) !important;
		border: 0 !important;
		border-radius: 12px !important;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, .03), 0 1px 3px 1px rgba(0, 0, 0, .07), 0 2px 6px 2px rgba(0, 0, 0, .03);
		margin-top: 12px !important;
		padding: 0 !important;
	}

	moz-checkbox, moz-radio, .customize-group .extension-item {
		align-items: center;
		padding: 0 12px !important;
		min-height: 50px !important;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--gnome-card-shade-color) !important;
		}
	}

	link[href="chrome://global/content/elements/moz-input-common.css"] ~ label {
		align-items: center;
		display: flex !important;
		gap: 6px;
	}
}
