/*Tabbox*/

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Main tab content */
#tabbrowser-tabbox {
	@media -moz-pref("sidebar.revamp.round-content-area") {
		--border-radius-medium: var(--gnome-card-radius) !important;
	}
	border-top: 1px solid rgba(0,0,0,0.9);
	border-left: 1px solid rgba(0,0,0,0.9);
}