@-moz-document url("about:blank"),url("about:privatebrowsing"){
    body{ background-color: rgb(50,50,50) !important }
  }

@-moz-document url("about:home"),url("about:newtab"){
    body{ background-color: rgb(50,50,50) !important }
    .wordmark { fill: #fff;}
  }

/* Remove wordmark, push logo to middle, increase size of logo */
@-moz-document url(about:newtab), url(about:home) {
    body{ background-color: rgb(50,50,50) !important }
    .search-wrapper .logo-and-wordmark .wordmark {
     fill: #fff !important;
     }
    .search-wrapper .search-button {
     fill: #ccc !important
     }
     .prefs-button button {
     fill: #ccc !important
     }
}

input#newtab-search-text{border:1px solid #252525 !important; background: #252525 !important; color: #ccc !important;}

button#searchSubmit{
	.search-wrapper .search-button {
	 fill: #ccc !important
	}
}
