@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url-prefix("about:"), url-prefix("chrome://"), url-prefix("moz-extension://92b622f3-2990-45dc-ad6f-5b88a7b304ff/") {

	@media (prefers-color-scheme: light),
	(prefers-color-scheme: no-preference) {
		*|*:root {
			--in-content-page-background: #f6f5f4 !important;
			--in-content-text-color: #2e3436 !important;
			--in-content-deemphasized-text: #929595 !important;
			--in-content-box-background: #ffffff !important;
			--in-content-box-border-color: #cdc7c2 !important;
			--in-content-border-active: #3584e4 !important;
			--in-content-border-active-shadow: var(--in-content-border-active) !important;
			--in-content-link-color: #1b6acb !important;
		}
		
		.textbox-search-icon {
			color: #585d5e !important;
		}
	}

	@media (prefers-color-scheme: dark) {
		*|*:root {
			--in-content-page-background: #353535 !important;
			--in-content-text-color: #eeeeec !important;
			--in-content-deemphasized-text: #919190 !important;
			--in-content-box-background: #2d2d2d !important;
			--in-content-box-border-color: #1b1b1b !important;
			--in-content-border-active: #15539e !important;
			--in-content-border-active-shadow: #030C17 !important;
			--in-content-link-color: #3584e4 !important;
		}
    
		.textbox-search-icon {
			color: #c7c7c6 !important;
		}
	}

	*|*:root {
		--in-content-border-hover: var(--in-content-box-border-color) !important;
	}
	
	.icon.icon-settings {
		background-image: url("icons-userContent/settings-symbolic.svg") !important;
	}
	
	.preferences-icon {
		list-style-image: url("icons-userContent/settings-symbolic.svg") !important;
	}
	
	.addons-icon {
		list-style-image: url("icons-userContent/application-x-addon-symbolic.svg") !important;
	}
	
	.help-icon {
		list-style-image: url("icons-userContent/help-browser-symbolic.svg") !important;
	}
	
	.geo-icon {
		list-style-image: url("icons-userContent/find-location-symbolic.svg") !important;
	}
	
	.camera-icon {
		list-style-image: url("icons-userContent/camera-2-symbolic.svg") !important;
	}
	
	.microphone-icon {
		list-style-image: url("icons-userContent/microphone-symbolic.svg") !important;
	}
	
	.desktop-notification-icon {
		list-style-image: url("icons-userContent/note-symbolic.svg") !important;
	}
	
	.message-bar-icon {
		list-style-image: url("icons-userContent/dialog-information-symbolic.svg") !important;
	}
	
	.message-bar-warning > .message-bar-icon {
		list-style-image: url("icons-userContent/warning-symbolic.svg") !important;
	}
	
	.more-options-button,
	.context-menu-button {
		background-image: url("icons-userContent/view-more-horizontal-symbolic.svg") !important;
	}
	
	.content-blocking-warning-image {
		list-style-image: url("icons-userContent/warning-symbolic.svg") !important;
	}
	
	.reload-tabs-button {
		list-style-image: url("icons-userContent/view-refresh-symbolic.svg") !important;
	}

	.icon.icon-download {
		background-image: url("icons-userContent/folder-download-symbolic.svg") !important;
	}
	
	.face-smile {
		list-style-image: url("icons-userContent/face-smile-big-symbolic.svg") !important;
	}
	
	.textbox-search-icon[searchbutton],
	textbox:not([searchbutton]) > .textbox-search-sign {
		list-style-image: url("icons-userContent/loupe-symbolic.svg") !important;
	}
	
	html|select:not([size]):not([multiple]) {
		background-image: url("icons-userContent/pan-down-symbolic.svg") !important;
	}
	
	#category-general > .category-icon {
		list-style-image: url("icons-userContent/settings-symbolic.svg") !important;
	}
	
	#category-home > .category-icon {
		list-style-image: url("icons-userContent/home-symbolic.svg") !important;
	}
	
	#category-search > .category-icon {
		list-style-image: url("icons-userContent/loupe-symbolic.svg") !important;
	}
	
	#category-privacy > .category-icon {
		list-style-image: url("icons-userContent/padlock-symbolic.svg") !important;
	}
	
	#category-sync > .category-icon {
		list-style-image: url("icons-userContent/emblem-synchronizing-symbolic.svg") !important;
	}

	#category-extension > .category-icon {
		list-style-image: url("icons-userContent/application-x-addon-symbolic.svg") !important;
	}
	
	#category-theme > .category-icon {
		list-style-image: url("icons-userContent/paintbrush-symbolic.svg") !important;
	}
	
	#category-dictionary > .category-icon {
		list-style-image: url("icons-userContent/dictionary-symbolic.svg") !important;
	}
	
	#go-back > .button-box > .button-icon {
		list-style-image: url("icons-userContent/go-previous-symbolic.svg") !important;
	}
	
	#header-utils-btn > .button-box > hbox > .button-icon {
		list-style-image: url("icons-userContent/settings-symbolic.svg") !important;
	}
	
	.button-menu-dropmarker {
		list-style-image: url("icons-userContent/pan-down-symbolic.svg") !important;
		margin-top: 4px;
	}
	
	.collapsible-arrow {
		background-image: url("icons-userContent/pan-down-symbolic.svg") !important;
	}
	
	xul|*.menulist-dropmarker {
		list-style-image: url("icons-userContent/pan-down-symbolic.svg") !important;
	}

	.info-panel > description,
	.extension-controlled > description {
		background: url("icons-userContent/dialog-information-symbolic.svg") 10px 14px no-repeat !important;
	}

	textbox {
		border-radius: 1px !important;
	}

	body {
		--newtab-background-color: var(--in-content-page-background) !important;
		--newtab-textbox-background-color: var(--in-content-box-background) !important;
		--newtab-textbox-border: var(--in-content-box-border-color) !important;
		--newtab-textbox-focus-color: var(--in-content-border-active) !important;
	}
	
	[class^="icon-"],
	[class$="-icon"],
	[class^="button-"],
	[class$="-button"],
	html|select:not([size]):not([multiple]),
	.textbox-search-icon[searchbutton],
	textbox:not([searchbutton]) > .textbox-search-sign,
	.info-panel > description,
	.extension-controlled > description,
	.face-smile,
	.content-blocking-warning-image {
		fill: var(--in-content-text-color) !important;
		-moz-context-properties: fill, stroke, fill-opacity, stroke-opacity !important;
	}
}