
 @supports -moz-bool-pref("gnomeTheme.systemWindowButtons"){
    :root[tabsintitlebar] #titlebar .titlebar-button:hover:not(#hack) {
        box-shadow: none !important;
    }
    :root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon {
        list-style-image: none !important;
    }
    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-close:not(#hack) {
        -moz-appearance: -moz-window-button-close !important;
        list-style-position: inherit !important;
        height:  9px !important;
        width: 15px !important;
        justify-self: start;
    }
    /* Window buttons: at least 2 buttons */
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
        :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-close:not(#hack){
            width: fit-content !important;
        }
    }

    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-max .toolbarbutton-icon {
        list-style-image: none !important;
    }
    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-max:not(#hack) {
        -moz-appearance: -moz-window-button-maximize !important;
        list-style-position: inherit !important;
        height:  9px !important;
        width: fit-content !important;
        justify-self: start;
    }

    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-restore .toolbarbutton-icon {
        list-style-image: none !important;
    }
    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-restore:not(#hack) {
        -moz-appearance: -moz-window-button-restore !important;
        list-style-position: inherit !important;
        height:  9px !important;
        width: fit-content !important;
        justify-self: start;
    }

    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-min .toolbarbutton-icon {
        list-style-image: none !important;
    }
    :root[tabsintitlebar] #titlebar .titlebar-button.titlebar-min:not(#hack) {
        -moz-appearance: -moz-window-button-minimize !important;
        list-style-position: inherit !important;
        height:  9px !important;
        width: fit-content !important;
        justify-self: start;
    }

}
