:root {
    --tab-center-reborn-width: 48px;
    --tab-center-reborn-hover-width: 200px;

    &[inFullscreen] {
        --tab-center-reborn-width: 0px;
    }

    @media -moz-pref("gnomeTheme.extensions.tabCenterReborn.alwaysOpen") {
        --tab-center-reborn-width: var(--tab-center-reborn-hover-width);
    }

    @media (width >= 1200px) {
        --tab-center-reborn-hover-width: 250px;
    }

    @media (width >= 2000px) {
        --tab-center-reborn-hover-width: 400px;
    }
}

#tabbrowser-tabs {
    display: none !important;
}

#browser {
    position: relative;
}

#tabbrowser-tabbox {
    z-index: 0 !important;
}

#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] {
    border-right: 1px solid var(--chrome-content-separator-color) !important;
    min-width: var(--tab-center-reborn-width) !important;
    max-width: var(--tab-center-reborn-width) !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1 !important;

    &:hover #sidebar,
    &:hover {
        min-width: var(--tab-center-reborn-hover-width) !important;
        max-width: var(--tab-center-reborn-hover-width) !important;
        animation-timing-function: linear;
        transition: all var(--gnome-animation-time) ease 0s;
    }

    &:not(:hover) #sidebar,
    &:not(:hover) {
        animation-timing-function: linear;
        transition: all var(--gnome-animation-time) ease 0s;
    }

    :root[inFullscreen] & {
        visibility: collapse;
        animation: var(--gnome-animation-time) fadeOut;
        animation-fill-mode: forwards;
    }

    &:not([hidden]) ~ #tabbrowser-tabbox {
        margin-left: var(--tab-center-reborn-width) !important;
    }

    #sidebar-header,
    & ~ #sidebar-splitter {
        display: none;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
