@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Adjust empty space on the headerbar's sides */
:root[tabsintitlebar]:not([inFullscreen]) #nav-bar {
	margin-left: 43px !important;
	margin-right: 43px !important;
	padding-left: 7px !important;
	padding-right: 7px !important;
}

/* Remove window controls separator */
:root[tabsintitlebar]:not([inFullscreen]) #nav-bar::after {
	display: none;
}

/* Remove the spacer pushing window controls to the right */
:root[tabsintitlebar] #titlebar-spacer {
	display: none;
}
:root[tabsintitlebar] #titlebar {
	margin-left: -4px;
}
:root[tabsintitlebar] #titlebar-buttonbox {
	padding-left: 4px;
}

/* Expand window controls' container to the window's width */
:root[tabsintitlebar] #titlebar-content, #titlebar-buttonbox-container {
	display: block;
}
:root[tabsintitlebar] #titlebar-buttonbox {
	display: flex;
}

/* Don't let the title bar cover the headerbar */
:root[tabsintitlebar] #nav-bar {
	z-index: 1;
}

/* Reorder titlebar buttons */
:root[tabsintitlebar] #titlebar-min {
	display: none;
}
:root[tabsintitlebar] #titlebar-buttonbox {
	direction: rtl;
}
:root[tabsintitlebar] #titlebar-buttonbox * {
	direction: initial;
}

/* Move the close button to the left and the maximize button to the right */
:root[tabsintitlebar] #titlebar-buttonbox {
	justify-content: space-between;
}
