@import "csd.css";
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar {
	margin-bottom: -47px !important;
}

#nav-bar {
	margin-top: 5px !important;
}

#titlebar-buttonbox {	
	height: 47px !important;	
	margin-top: 0px !important;
}

#titlebar toolbarbutton {	
	margin: 4px 3px !important;	
}

/* Fix issue when drag tabs */
#TabsToolbar[movingtab] + #nav-bar {
  margin-top: 5px !important;
}

/* TODO icons doesn't have proper color */
#titlebar-close .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-close-symbolic?size=menu") !important;
}
#titlebar-max .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-maximize-symbolic?size=menu") !important;
}
#titlebar-min .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-minimize-symbolic?size=menu") !important;
}
