@import "theme.css";
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Colors */
:root {
	/* Variables that start with --gnome- are added by me and are assigned
	 * to elements somewhere in this code. The rest of the variables are
	 * built-in in Firefox, so you need to add an !important if you wanna
	 * override them. */

	/* Browser area before a page starts loading */
	--gnome-browser-before-load-bgcolor: #d6d6d6;

	/* Extra toolbars like the bookmark bar */
	--toolbar-bgcolor: #d6d6d6 !important;
	--toolbar-bgimage: none !important;

	/* Header bar */
	--gnome-headerbar-bgimage: linear-gradient(rgb(247, 247, 247), rgb(237, 237, 237));
	--gnome-headerbar-border-bottom: 1px solid rgb(161, 161, 161);
	--gnome-headerbar-box-shadow: 0 -1px rgb(217, 217, 217) inset, 0 1px #fff inset;
	--gnome-headerbar-button-bgimage: linear-gradient(rgb(250, 250, 250), rgb(237, 237, 237) 40%, rgb(224, 224, 224));
	--gnome-headerbar-button-border: 1px solid rgba(161, 161, 161);
	--gnome-headerbar-button-border-bottom: var(--gnome-headerbar-button-border);
	--gnome-headerbar-button-box-shadow: 0 1px #fff inset, 0 1px #fff;
	--gnome-headerbar-button-hover-bgimage: linear-gradient(#fff, rgb(247, 247, 247) 40%, rgb(237, 237, 237));
	--gnome-headerbar-button-active-bgimage: linear-gradient(rgb(214, 214, 214), rgb(220, 220, 220) 40%, rgb(224, 224, 224));
	--gnome-headerbar-button-active-box-shadow: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 0px -2px rgba(0, 0, 0, .6) inset, 0 1px #fff;
	--gnome-headerbar-button-disabled-bgcolor: rgb(244, 244, 244);
	--gnome-headerbar-button-disabled-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);

	/* URL bar */
	--gnome-urlbar-bgimage: linear-gradient(rgb(222, 222, 222), rgb(248, 248, 248) 3px, rgb(255, 255, 255) 90%);
	--gnome-urlbar-border: 1px solid rgb(161, 161, 161);
	--gnome-urlbar-box-shadow: 0 0 0 1px rgba(74, 144, 217, 0) inset, 0 1px #fff;
	--gnome-urlbar-height: 32px;

	/* Tab bar */
	--gnome-tabbar-bgcolor: #d6d6d6;
	--gnome-tabbar-border-bottom: 1px solid #a1a1a1;
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-tabbar-tab-hover-border-bottom: 3px solid #a1a1a1;
	--gnome-tabbar-tab-hover-border-sides: 1px solid #c9c9c9;
	--gnome-tabbar-tab-hover-color: rgb(93, 98, 99);
	--gnome-tabbar-tab-active-bgcolor: #e1e1e1;
	--gnome-tabbar-tab-active-border-bottom: 4px solid #4a90d9;
	--gnome-tabbar-tab-active-border-color-sides: #c0c0c0;
	--gnome-tabbar-tab-active-color: rgb(46, 52, 54);
	--gnome-tabbar-tab-active-hover-bgcolor: #e6e6e6;
	--gnome-tabbar-tab-icon-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);

	/* Bookmark bar */
	--gnome-bookmarkbar-border-bottom: 1px solid #a1a1a1;
	--gnome-bookmarkbar-height: 38px;

	/* Burger menu */
	/*--arrowpanel-padding: 10px;*/
	/*--arrowpanel-background: -moz-field;*/
	--arrowpanel-color: rgb(46, 52, 54) !important; /* applies to text and icons */
	/*--arrowpanel-border-color: ThreeDShadow;*/

	/* Dirty hack for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-icons-hack-filter: none ; /* with invert: invert(85%) */
	--gnome-icons-hack-close-button-border: 1px solid #a1a1a1; /* with invert: 1px solid #5e5e5e */
	--gnome-icons-hack-close-button-filter: none; /* with invert: invert(100%) */
	--gnome-icons-hack-close-button-active-bgimage: linear-gradient(rgb(214, 214, 214), rgb(220, 220, 220) 40%, rgb(224, 224, 224));
	/* ^ with invert: linear-gradient(rgb(41, 41, 41), rgb(35, 35, 35) 40%, rgb(31, 31, 31)) */
	--gnome-icons-hack-close-button-active-box-shadow: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 1px -2px rgba(0, 0, 0, .6) inset;
	/* ^ with invert: 0 1px rgba(255, 255, 255, .07) inset, 0 2px 1px -2px rgba(255, 255, 255, .6) inset */
}
