@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Browser area before a page starts loading */
tabbrowser tabpanels {
	/* this is something white-ish by default which causes a white flash
	 * everytime you open a new tab */
	background-color: var(--gnome-browser-before-load-bgcolor) !important;
}

/* Container for all toolbars */
#navigator-toolbox {
	background-color: var(--gnome-tabbar-bgcolor) !important;
	border-bottom: var(--gnome-tabbar-border-bottom);
}
#navigator-toolbox:-moz-window-inactive {
	background-color: var(--gnome-inactive-tabbar-bgcolor) !important;
	border-bottom: var(--gnome-inactive-tabbar-border-bottom);
}

/* Toolbar */
#nav-bar {
	background-image: var(--gnome-headerbar-bgimage) !important;
	border: none !important;
	border-bottom: var(--gnome-headerbar-border-bottom) !important;
	box-shadow: var(--gnome-headerbar-box-shadow) !important;
}
#nav-bar:-moz-window-inactive {
	background-image: var(--gnome-inactive-headerbar-bgimage) !important;
	border-bottom: var(--gnome-inactive-headerbar-border-bottom) !important;
	box-shadow: var(--gnome-inactive-headerbar-box-shadow) !important;
}

/* Tabs below the URL bar */
#navigator-toolbox #nav-bar {
	-moz-box-ordinal-group: 0;
}
#navigator-toolbox #toolbar-menubar {
	-moz-box-ordinal-group: 1;
}
#navigator-toolbox #PersonalToolbar {
	-moz-box-ordinal-group: 2;
}
/* add-ons can add their own toolbars */
#navigator-toolbox toolbar {
	-moz-box-ordinal-group: 10;
}
#navigator-toolbox #TabsToolbar {
	-moz-box-ordinal-group: 100;
}

/* Don't teleport the URL bar when moving tabs */
#TabsToolbar[movingtab] {
	padding-bottom: 0 !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: 0 !important;
}

/* Remove border above the URL bar */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
	border-top-width: 0 !important;
}
#navigator-toolbox::after {
	border-bottom-width: 0 !important;
}

/* Popup menus */
.panel-arrowcontent {
	background-color: -moz-field !important;
	border-radius: 5px;
	padding: 8px 12px !important;
}
panelview vbox.panel-subview-body > toolbarbutton image {
	display: none;
}
panelview vbox.panel-subview-body > toolbarbutton label {
	padding-inline-start: 0 !important;
}
#appMenu-zoom-controls > spacer, #appMenu-edit-controls > spacer {
	width: 12px !important;
}
#appMenu-zoomReset-button {
	background-color: var(--arrowpanel-background) !important;
	border-color: var(--panel-separator-color) !important;
}
panel[type=arrow] {
	margin-top: 6px !important;
}
panel[type=arrow][viewId=appMenu-libraryView],
panel[type=arrow][viewId=PanelUI-characterEncodingView],
panel[type=arrow][viewId=PanelUI-developer],
#widget-overflow {
	margin-top: 0 !important;
}
#BMB_bookmarksPopup {
	margin-top: -3px !important;
}

/* Color of the last item in the bookmark menu and downloads menu */
.subviewbutton.panel-subview-footer,
.downloadsPanelFooter {
	background-color: transparent !important;
	border-top-color: var(--panel-separator-color) !important;
}
.subviewbutton.panel-subview-footer:hover,
.downloadsPanelFooter:hover {
	background-color: var(--arrowpanel-dimmed) !important;
	border-top-color: var(--panel-separator-color) !important;
}

/* Remove icons from context menu */
#contentAreaContextMenu menuitem image, #contentAreaContextMenu menu image {
	visibility: hidden;
}
#contentAreaContextMenu menugroup menuitem image {
	visibility: visible;
}

/* Remove hover effects on the header bar buttons */
#nav-bar {
	--backbutton-background: transparent !important;
	--backbutton-active-background: transparent !important;
	--backbutton-hover-background: transparent !important;
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
}
#back-button > .toolbarbutton-icon {
	border: none !important;
}
:root:not([uidensity=compact]) #back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
	background-color: transparent !important;
	box-shadow: none !important;
	border-color: transparent !important;
}

/* Header bar buttons */
#nav-bar toolbarbutton.chromeclass-toolbar-additional,
#nav-bar toolbarbutton.toolbarbutton-combined,
#nav-bar #reload-button,
#nav-bar #stop-button,
#PanelUI-menu-button {
	border: var(--gnome-headerbar-button-border) !important;
	border-bottom: var(--gnome-headerbar-button-border-bottom) !important;
	border-radius: 3px !important;
	height: 34px;
	margin: 4px 3px !important;
	padding: 0 2px !important;
	width: 34px;
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional:not([disabled]),
#nav-bar toolbarbutton.toolbarbutton-combined:not([disabled]),
#nav-bar #reload-button:not([disabled]),
#nav-bar #stop-button:not([disabled]),
#PanelUI-menu-button:not([disabled]) {
	background-image: var(--gnome-headerbar-button-bgimage);
	box-shadow: var(--gnome-headerbar-button-box-shadow);
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional:not([disabled]):hover,
#nav-bar toolbarbutton.toolbarbutton-combined:not([disabled]):hover,
#nav-bar #reload-button:not([disabled]):hover,
#nav-bar #stop-button:not([disabled]):hover,
#PanelUI-menu-button:not([disabled]):hover {
	background-image: var(--gnome-headerbar-button-hover-bgimage);
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional:not([disabled]):active,
#nav-bar toolbarbutton.toolbarbutton-combined:not([disabled]):active,
#nav-bar #reload-button:not([disabled]):active,
#nav-bar #stop-button:not([disabled]):active,
#PanelUI-menu-button:not([disabled]):active,
#nav-bar toolbarbutton.chromeclass-toolbar-additional[open=true]:not([disabled]),
#nav-bar toolbarbutton.toolbarbutton-combined[open=true]:not([disabled]),
#nav-bar #reload-button[open=true]:not([disabled]),
#nav-bar #stop-button[open=true]:not([disabled]),
#PanelUI-menu-button[open=true]:not([disabled]) {
	background-image: var(--gnome-headerbar-button-active-bgimage);
	box-shadow: var(--gnome-headerbar-button-active-box-shadow);
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional[disabled],
#nav-bar toolbarbutton.toolbarbutton-combined[disabled],
#nav-bar #reload-button[disabled],
#nav-bar #stop-button[disabled],
#PanelUI-menu-button[disabled] {
	background-color: var(--gnome-headerbar-button-disabled-bgcolor);
	border: var(--gnome-headerbar-button-disabled-border) !important;
	box-shadow: var(--gnome-headerbar-button-disabled-box-shadow);
}
#nav-bar:-moz-window-inactive toolbarbutton.chromeclass-toolbar-additional,
#nav-bar:-moz-window-inactive toolbarbutton.toolbarbutton-combined,
#nav-bar:-moz-window-inactive #reload-button,
#nav-bar:-moz-window-inactive #stop-button,
#PanelUI-menu-button:-moz-window-inactive {
	border: var(--gnome-inactive-headerbar-button-border) !important;
	border-bottom: var(--gnome-inactive-headerbar-button-border-bottom) !important;
}
#nav-bar:-moz-window-inactive toolbarbutton.chromeclass-toolbar-additional:not([disabled]),
#nav-bar:-moz-window-inactive toolbarbutton.toolbarbutton-combined:not([disabled]),
#nav-bar:-moz-window-inactive #reload-button:not([disabled]),
#nav-bar:-moz-window-inactive #stop-button:not([disabled]),
#PanelUI-menu-button:-moz-window-inactive:not([disabled]) {
	background-image: var(--gnome-inactive-headerbar-button-bgimage);
	box-shadow: var(--gnome-inactive-headerbar-button-box-shadow);
}
#nav-bar:-moz-window-inactive toolbarbutton.chromeclass-toolbar-additional[disabled],
#nav-bar:-moz-window-inactive toolbarbutton.toolbarbutton-combined[disabled],
#nav-bar:-moz-window-inactive #reload-button[disabled],
#nav-bar:-moz-window-inactive #stop-button[disabled],
#PanelUI-menu-button[disabled]:-moz-window-inactive {
	background-color: var(--gnome-inactive-headerbar-button-disabled-bgcolor);
	border: var(--gnome-inactive-headerbar-button-disabled-border);
	box-shadow: var(--gnome-inactive-headerbar-button-disabled-box-shadow);
}
#nav-bar:-moz-window-inactive toolbarbutton.chromeclass-toolbar-additional image,
#nav-bar:-moz-window-inactive toolbarbutton.toolbarbutton-combined image,
#nav-bar:-moz-window-inactive #reload-button image,
#nav-bar:-moz-window-inactive #stop-button image,
#PanelUI-menu-button:-moz-window-inactive image {
	opacity: .7 !important;
}
#nav-bar:-moz-window-inactive toolbarbutton.chromeclass-toolbar-additional[disabled] image,
#nav-bar:-moz-window-inactive toolbarbutton.toolbarbutton-combined[disabled] image,
#nav-bar:-moz-window-inactive #reload-button[disabled] image,
#nav-bar:-moz-window-inactive #stop-button[disabled] image,
#PanelUI-menu-button[disabled]:-moz-window-inactive image {
	opacity: .3 !important;
}
#downloads-indicator-icon:-moz-window-inactive,
#downloads-indicator-progress-outer:-moz-window-inactive {
	opacity: .7 !important;
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional#back-button {
	margin-left: 6px !important;
	padding: 0 !important;
}
#back-button > .toolbarbutton-icon {
	width: 30px !important;
}
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-out-button {
	margin-left: 1px !important;
}
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-in-button {
	margin-right: 1px !important;
}
#zoom-controls separator {
	display: none !important;
}
#PanelUI-button {
	border: 0 !important;
	margin: 0 !important;
}
#PanelUI-menu-button {
	margin-right: 6px !important;
}
#reload-button[disabled]:not(:-moz-window-inactive) > .toolbarbutton-icon {
	opacity: .4 !important;
}

/* Combined buttons */
#nav-bar toolbarbutton.chromeclass-toolbar-additional#back-button,
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-out-button,
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-reset-button {
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
	border-top-right-radius: 0 !important;
	margin-right: 0 !important;
}
#nav-bar toolbarbutton.chromeclass-toolbar-additional#forward-button,
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-reset-button,
#nav-bar toolbarbutton.toolbarbutton-combined#zoom-in-button {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	margin-left: 0 !important;
}

/* Replace icons */
#back-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-previous-symbolic?size=menu") !important;
}

#forward-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-next-symbolic?size=menu") !important;
}

/* Glitch - animations (may be possible to fix in about:config)
#reload-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-refresh-symbolic?size=menu") !important;
}
#stop-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/process-stop-symbolic?size=menu") !important;
}*/

/* Default looks nicer
#new-tab-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/tab-new-symbolic?size=menu") !important;
}*/

#zoom-out-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-out-symbolic?size=menu") !important;
}

/* No icon, just text
#zoom-reset-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-original-symbolic?size=menu") !important;
} */

#zoom-in-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-in-symbolic?size=menu") !important;
}

/* Default is ok
#nav-bar-overflow-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-more-symbolic?size=menu") !important;
} */

/* Glitch - it swaps to the default one anyway
#downloads-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/folder-download-symbolic?size=menu") !important;
} */

/* Default is ok
#PanelUI-menu-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/open-menu-symbolic?size=menu") !important;
} */

/* URL bar */
#urlbar {
	background-image: var(--gnome-urlbar-bgimage) !important;
	border: var(--gnome-urlbar-border) !important;
	border-radius: 3px;
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	color: var(--gnome-urlbar-color) !important;
	height: var(--gnome-urlbar-height);
}
#urlbar[focused] {
	border-width: 2px !important;
	border-style: solid !important;
	border-color: var(--gnome-focused-urlbar-border-color) !important;
	outline: var(--gnome-focused-urlbar-outline);
	outline-offset: -2px;
	-moz-outline-radius: 3px;
}
#urlbar[focused] .urlbar-textbox-container {
	margin: -1px !important;
}
toolbarspring {
	/* center the URL bar */
	max-width: 10000px !important;
}
#urlbar .urlbar-textbox-container {
	background-image: var(--gnome-urlbar-bgimage);
}
#urlbar:-moz-window-inactive {
	background-image: var(--gnome-inactive-urlbar-bgimage) !important;
	border: var(--gnome-inactive-urlbar-border) !important;
	box-shadow: var(--gnome-inactive-urlbar-box-shadow) !important;
	color: var(--gnome-inactive-urlbar-color) !important;
}
#urlbar:-moz-window-inactive .urlbar-textbox-container {
	background-image: var(--gnome-inactive-urlbar-bgimage);
}
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
.urlbar-icon[open],
.urlbar-icon-wrapper[open],
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active {
	background-color: transparent !important;
	fill-opacity: 1 !important;
}

/* Bookmark bar */
#navigator-toolbox #PersonalToolbar {
	border-bottom: var(--gnome-bookmarkbar-border-bottom) !important;
	height: var(--gnome-bookmarkbar-height);
}
#navigator-toolbox:-moz-window-inactive #PersonalToolbar {
	border-bottom: var(--gnome-inactive-bookmarkbar-border-bottom) !important;
}

/* Tab bar */
#tabbrowser-tabs, tab > stack {
	height: 38px;
}
/* Extra margin for the first and last tabs */
.tabbrowser-tab[first-tab]:not([pinned=true]) {
	margin-left: 8px !important;
}
.tabbrowser-tab[last-tab]:not([pinned=true]) {
	margin-right: 8px !important;
}

/* Remove hover effects on tab bar buttons */
#TabsToolbar {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
}

/* New hover effect */
#TabsToolbar toolbarbutton {
	fill-opacity: .6 !important;
}
#TabsToolbar toolbarbutton:not([disabled]):hover,
#TabsToolbar toolbarbutton[open=true] {
	fill-opacity: 1 !important;
}

/* Remove shadow next to tab scroll buttons */
.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
	display: none;
}

/* Remove tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-color: transparent !important;
	border-image: none !important;
}

/* Space between tabs */
.tabbrowser-tab:not([pinned=true]) {
	margin: 0 4px !important;
}

/* Tab labels */
tab {
	color: var(--gnome-tabbar-tab-color) !important;
	font-family: Cantarell, inherit;
	font-weight: bold;
	font-size: 1em;
}
tab:hover {
	color: var(--gnome-tabbar-tab-hover-color) !important;
}
tab[selected] {
	color: var(--gnome-tabbar-tab-active-color) !important;
}
tab:-moz-window-inactive {
	color: var(--gnome-inactive-tabbar-tab-color) !important;
}
tab[selected]:-moz-window-inactive {
	color: var(--gnome-inactive-tabbar-tab-active-color) !important;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	min-width: 100% !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback  {
	min-width: 16px;
}
.tab-close-button {
	min-width: 22px;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
}

/* Put tab close button and icon sound to the right  */
.tab-icon-sound[soundplaying="true"] {
	margin-left: auto !important;
}
.tabbrowser-tab:not([soundplaying]) .tab-close-button {
	margin-left: auto !important;
}

/* Force tab favicon to the center */
.tab-throbber, .tab-throbber-fallback {
	margin-left: auto;
}
.tabbrowser-tab:not([bussy]) .tab-icon-image {
	margin-left: auto;
}

/* If tab favicon is not present, force tab label to the center */
.tabbrowser-tab .tab-label-container {
	margin-left: auto !important;
}

.tabbrowser-tab[image] .tab-label-container, .tabbrowser-tab[bussy] .tab-label-container  {
	margin-left: 0 !important;
}

/* If tab close button is not present, don't force favicon to the center */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([bussy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
	margin-left: 0 !important;
}

/* Remove tab icons */
/* tab:not([pinned=true]) .tab-icon-image {
	display: none;
} */

/* Close tab button */
.tab-close-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-close-symbolic?size=menu") !important;
	height: 22px;
	width: 22px;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover {
	border: var(--gnome-icons-hack-close-button-border);
	border-radius: 3px;
	filter: var(--gnome-icons-hack-close-button-filter);
}
.tab-close-button:active {
	background-image: var(--gnome-icons-hack-close-button-active-bgimage);
	box-shadow: var(--gnome-icons-hack-close-button-active-box-shadow);
}
.tab-close-button:active:not(:hover) {
	background-image: none !important;
	box-shadow: none !important;
}
.tab-close-button > .toolbarbutton-icon {
	height: 16px !important;
	width: 16px !important;
	opacity: .2;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover > .toolbarbutton-icon {
	opacity: 1;
}

/* Tab close button etc. positioning */
.tab-throbber, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-sound, .tab-close-button {
	margin-top: 0 !important;
}

/* Remove blue line above tabs */
.tab-line {
	display: none;
}

/* Move container lines to the top */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background {
	border-top: 2px solid var(--identity-tab-color) !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
	display: none;
}

/* Active tab */
.tab-background[selected=true] {
	background-color: var(--gnome-tabbar-tab-active-bgcolor) !important;
	background-image: none !important;
	border-right-color: var(--gnome-tabbar-tab-active-border-color-sides) !important;
	border-left-color: var(--gnome-tabbar-tab-active-border-color-sides) !important;
	border-image: none !important;
	border-bottom: var(--gnome-tabbar-tab-active-border-bottom) !important;
}
.tab-background[selected=true]:-moz-window-inactive {
	background-color: var(--gnome-inactive-tabbar-tab-active-bgcolor) !important;
	border-right-color: var(--gnome-inactive-tabbar-tab-active-border-color-sides) !important;
	border-left-color: var(--gnome-inactive-tabbar-tab-active-border-color-sides) !important;
	border-bottom: var(--gnome-inactive-tabbar-tab-active-border-bottom) !important;
}

/* Tab hover */
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background[selected=true] {
	background-color: var(--gnome-tabbar-tab-active-hover-bgcolor) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
	background-color: transparent !important;
}
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
	background-color: var(--gnome-tabbar-tab-hover-bgcolor) !important;
	border-image: none !important;
	border-right: var(--gnome-tabbar-tab-hover-border-sides) !important;
	border-left: var(--gnome-tabbar-tab-hover-border-sides) !important;
	border-bottom: var(--gnome-tabbar-tab-hover-border-bottom) !important;
}

/* Full width tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
	max-width: 100% !important;
}

.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
	max-width: .1px !important;
}

/* Sidebar */
#search-box {
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	height: var(--gnome-urlbar-height);
}
