@import "parts/toolbox.css";
@import "parts/headerbar.css";
@import "parts/csd.css";
@import "parts/popups.css";
@import "parts/tabsbar.css";
@import "parts/remove-white-flash.css";
@import "parts/custom-icons.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
    --space-above-tabbar: 0 !important;
}

/* Menu bar */
#toolbar-menubar:not([inactive=true]) {
	border-bottom: var(--gnome-bookmarkbar-border-bottom) !important;
	margin-bottom: 0 !important;
}

/* Bookmark bar */
#PersonalToolbar {
	border-top: var(--gnome-bookmarkbar-border-bottom) !important;
	height: var(--gnome-bookmarkbar-height);
}
#PersonalToolbar:-moz-window-inactive {
	border-top: var(--gnome-inactive-bookmarkbar-border-bottom) !important;
}

/* Sidebar */
#search-box {
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	height: var(--gnome-urlbar-height);
}
